
<!-- card -->
<div style="margin-bottom: 30px;margin-top: 30px;" class="d-flex justify-content-center align-items-center " >
    <div class="card text-align-center text-center  " style="width: 18rem;">
        
        <div class="card-body text-center text-align-center ">
          <img width="120px" height="120px" [src]="viewdata.photo"  >
          <br>
          <br> 
          <p class="card-title">Contact Name:{{viewdata.name}}</p>
       <p>id:{{viewdata.id}}</p>
       <p>mobile: {{viewdata.mobile}}</p>
       <p>Email:{{viewdata.email}}</p>
       <p>Company:{{viewdata.company}}</p>
       <p>title:{{viewdata.title}}</p>
       <p>Group:{{response}}</p>
        
      </div>
    <!-- card ends -->
    
    </div>
</div>
