<div  class="container-fluid ">
    <div class="row">
        <div class="col  ">
            <h1>Contact Manager
                <a class="btn btn-success ms-5" routerLink="add-contact"><i class="fa-solid fa-user-plus"></i>Add
                    new</a>
            </h1>
        </div>

        <p style="text-align: justify;">hi welcome to cintact manager ,will be helping to fing contacs from databse,so
            kindly type your conatct
            here ,hi welcome to cintact manager ,will be helping to fing contacs from databse,so kindly type your
            conatct here hi welcome to cintact manager ,will be helping to fing contacs from databse,so kindly type
            your conatct hereconatct here hi welcome to cintact manager ,will be helping to fing contacs from databse,so
            kindly type
            your conatct here your conatct hereconatct here hi welcome to cintact manager ,will be helping to fing
            contacs from databse,so kindly type
            your conatct here </p>


        <!-- saecrh -->
        <div class="row mt-5" >
            <div  class="col-2 fw-bolder">Search Contact:</div>
            <div class="col-4"><input name="searchkey" [(ngModel)]="searchkey" class="form-control" placeholder="type your contact" type="text"></div>
        </div>

    </div>

</div>
<!-- loading icon -->
<div *ngIf="loading && allcontacts.length==0" class="text-center mt-5 "  >
    <div style="margin-bottom:120px;" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>


<!-- message - no similar names -->
<div *ngIf="(allcontacts | filter : searchkey :'name').length==0 && !loading "  >
    <p style="margin-left: 500px; color: red;margin-top: 70px; margin-bottom:130px; font-size:.9cm;" class="" >Contact not Found</p>
</div>
<!-- error message -->
<div *ngIf="errormsg" class=" mt-5 alert alert-danger" role="alert">
    {{errormsg}}
  </div>

<!-- contacts details -->
<div class="container mt-5">

<div *ngIf="!loading && allcontacts.length>0" class="row">
    <div style="margin-bottom:18px;" class="col-6" *ngFor="let contact of allcontacts | filter :searchkey : 'name'      " >
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center ">
                    <div class="col-md-4 text-center ">
                        <img style="width: 147px; height: 147px;" class=" " [src]="contact.photo" alt="">
                    </div>
                    <!-- content -->
                    <div  class="col-7">
                        <ul class="list-group" >
                      <li class="list-group-item" >Name: <span class="fw-bold" >{{contact.name}}</span> </li>
                      <li class="list-group-item"  >Mobile: <span class="fw-bold">{{contact.mobile}}</span> </li>
                      <li class="list-group-item"  >Email: <span class="fw-bold" >{{contact.email}}</span> </li>
                        </ul>
                    </div>
                    <div style="margin-left:-4px;" class="col-1 d-flex flex-column justify-content-center align-items-center ">
                        <!-- actions -->
                        <a style="width:36px;height: 36px;display: flex;justify-content: center;align-items: center;" class="btn btn-warning mb-1 " routerLink="view-contact/{{contact.id}}"><i class="fa-solid fa-eye"></i></a>
                        <a style="width:36px;height: 36px;display: flex;justify-content: center;align-items: center;" class="btn btn-success mb-1" routerLink="edit-contact/{{contact.id}}"><i class="fa-solid fa-pen"></i></a>
                        <button style="width:36px;height: 36px;display: flex;justify-content: center;align-items: center;" (click)="deletecontact(contact.id)" class="btn btn-danger" ><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>

</div>